.gallery {
  display: grid;
  position: relative;
  height: 292.67px;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'thumbnail img0 img2'
    'thumbnail img1 img3';
}

@media (max-width: 1200px) {
  .gallery {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      'thumbnail img0'
      'thumbnail img1';
  }

  .img2 {
    display: none;
  }

  .img3 {
    display: none;
  }
}

@media (max-width: 768px) {
  .gallery {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  img:not(.thumbnail-image) {
    display: none;
  }
}

.gallery .button {
  position: absolute;
  z-index: 1
}

.button-top {
  right: 0;
}

.button-bottom {
  bottom: 0;
  right: 0;
}

.gallery img {
  width: 100%;
  height: 100%;
  transition: transform 0.5s;
  cursor: pointer;
}

.gallery-div {
  overflow: hidden;
  background-color: #262626;
}

.gallery img:hover {
  transform: scale(1.08);
}

.img0 {
  grid-area: img0;
}

.img1 {
  grid-area: img1;
}

.img2 {
  grid-area: img2;
}

.img3 {
  grid-area: img3;
}

.thumbnail {
  grid-area: thumbnail;
}

.button-text {
  font-size: 15px;
  font-weight: 200;
}